<section class="about section" id="about">
  <div class="about_container container">
    <h2 class="title-h2">Über Uns</h2>
    <div class="about_inner">
      <p class="about_text">
        BestMainAbout wurde im Jahr 2010 gegründet und hat sich als einer der
        führenden Anbieter von innovativen Wasserfiltersystemen für private und
        gewerbliche Anwendungen etabliert. Mit einer Kombination aus jahrelanger
        Erfahrung und modernen Technologien bieten wir effiziente Lösungen für
        die Wasserreinigung, die sowohl umweltfreundlich als auch leistungsstark
        sind.
      </p>
      <img
        class="about_image about_image1"
        src="./img/about/image1.jpg"
        alt="about image 1"
      />
      <p class="about_text">
        Unsere Vision bei BestMainAbout ist es, die Wasseraufbereitung durch
        nachhaltige und effiziente Filtertechnologien für alle zugänglich zu
        machen. Wir wollen nicht nur die Wasserqualität verbessern, sondern auch
        dazu beitragen, die Umwelt zu schützen. Unser Ziel ist es, Ihnen die
        besten Lösungen zu bieten, die sowohl Ihre Bedürfnisse erfüllen als auch
        umweltfreundlich sind
      </p>
      <img
        class="about_image"
        src="./img/about/image2.jpg"
        alt="about image 2"
      />
    </div>
  </div>
</section>
