<section class="contacts section" id="contacts">
  <div class="contacts_container container">
    <h2 class="title-h2">Kontakt</h2>
    <div class="contacts_container_flexbox">
      <div>
        <div class="contacts_inner">
          <div class="contacts_title">
            <img src="./img/contacts/Phone.png" alt="Phone" />
            <h3>Telefonnummer:</h3>
          </div>
          <a class="contacts_tel_number" href="tel:+492431947792"
            >+49 2431 947792</a
          >
          <p class="contacts_tel_text">
            (Verfügbar von Montag bis Freitag, 9:00 - 18:00 Uhr)
          </p>
        </div>
        <div class="contacts_inner">
          <div class="contacts_title">
            <img src="./img/contacts/Mail.png" alt="Mail" />
            <h3>E-Mail-Adresse:</h3>
          </div>
          <a class="contacts_mail_email" href="mailto:info@bestmainabout.com"
            >info@bestmainabout.com</a
          >
        </div>
        <div class="contacts_inner">
          <div class="contacts_title">
            <img src="./img/contacts/schedule.png" alt="Calendar" />
            <h3>Godziny otwarcia:</h3>
          </div>
          <p class="contacts_calendar_text">
            Bürozeiten: <br />
            Montag bis Freitag: 9:00 - 18:00 Uhr <br />
            Samstag: 10:00 - 14:00 Uhr <br />
            Sonntag: Geschlossen
          </p>
        </div>
      </div>
      <img
        class="contacts_image"
        src="./img/contacts/main_contacts.png"
        alt="main contacts image"
      />
    </div>
  </div>
</section>
