<div class="cookies-section">
  <div class="cookies-container container">
    <p class="cookies-text">
      Wir verwenden Cookies, um Ihr Nutzungserlebnis auf unserer Website zu
      verbessern. Wenn Sie unsere Website weiter nutzen, stimmen Sie der
      Verwendung von Cookies zu.
    </p>
    <div class="cookies-buttons">
      <button class="cookies-button cookies-accept-js">
        Cookies akzeptieren
      </button>
      <button class="cookies-button cookies-decline-js">
        Cookies ablehnen
      </button>
    </div>
  </div>
</div>
