<footer class="footer" id="footer">
  <div class="footer_container container">
    <ul class="footer_list">
      <li class="footer_list_item">
        <a href="./privacy-policy.html">Datenschutzrichtlinie</a>
      </li>
      <li class="footer_list_item">
        <a href="./terms-and-conditions.html"
          >Allgemeine Geschäftsbedingungen</a
        >
      </li>
      <li class="footer_list_item">
        <a href="./cookies-policy.html">Cookie-Richtlinie</a>
      </li>
    </ul>
    <p class="footer_copyright">
      BestMainAbout.com © Alle Rechte vorbehalten, 2025
    </p>
  </div>
</footer>
