<header class="header header_page" id="header">
  <div class="header_container container">
    <a class="logo" href="./index.html">
      <img src="./img/Header/logo.png" alt="Logo" />
    </a>
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a href="../index.html">Startseite</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="../index.html">Über Uns </a>
        </li>
        <li class="header-nav-pc-item">
          <a href="../index.html">Unsere Produkte</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="../index.html">Dienstleistungen</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="../index.html">Prozessablauf</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="../index.html">Preisliste</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="../index.html">Kundenmeinungen</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="../index.html">Kontakt</a>
        </li>
      </ul>
    </nav>
    <nav class="header-nav-mobile">
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="../index.html">Startseite</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="../index.html">Über Uns </a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="../index.html">Unsere Produkte</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="../index.html">Dienstleistungen</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="../index.html">Prozessablauf</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="../index.html">Preisliste</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="../index.html">Kundenmeinungen</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="../index.html">Kontakt</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./privacy-policy.html">Datenschutzrichtlinie</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./terms-and-conditions.html"
            >Allgemeine Geschäftsbedingungen</a
          >
        </li>
        <li class="header-nav-mobile-item">
          <a href="./cookies-policy.html">Cookie-Richtlinie</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-nav-mobile-button">
      <img src="./img/Header/burger.png" alt="menu" />
    </button>
    <button type="button" class="header-nav-mobile-button-close">
      <img src="./img/Header/close_menu.png" alt="menu" />
    </button>
  </div>
</header>
