<section class="pricing section" id="pricing">
  <div class="pricing_container container">
    <h2 class="title-h2">Preisliste (Beispielhafte Preise)</h2>
    <table class="pricing_inner">
      <thead class="pricing_inner_head">
        <tr class="pricing_inner_head_row table_head">
          <th>Dienstleistung</th>
          <th>Ab Preis</th>
        </tr>
      </thead>
      <tbody class="pricing_inner_body">
        <tr class="pricing_inner_head_row">
          <td>Installation eines Sandfiltersystems</td>
          <td>ab 499 €</td>
        </tr>
        <tr class="pricing_inner_head_row">
          <td>Komplettpaket Pool-Reinigungssystem</td>
          <td>ab 1.199 €</td>
        </tr>
        <tr class="pricing_inner_head_row">
          <td>Wartung bestehender Filteranlage</td>
          <td>ab 149 €</td>
        </tr>
        <tr class="pricing_inner_head_row">
          <td>UV-System für Teich</td>
          <td>ab 399 €</td>
        </tr>
        <tr class="pricing_inner_head_row">
          <td>Vor-Ort-Wasseranalyse</td>
          <td>ab 89 €</td>
        </tr>
      </tbody>
    </table>
    <p class="pricing_notation">
      *Nota: I prezzi sono indicativi e soggetti a valutazione personalizzata.
    </p>
  </div>
</section>
