<section class="products section" id="products">
  <div class="products_container container">
    <div class="products_title_inner">
      <h2 class="title-h2">Unsere Produkte</h2>
      <div class="swiper-button-prev swiper-button-prev_products">
        <img
          src="./img/pages/btn_left.png"
          alt="arrow-left"
          class="swiper-button-prev-img"
        />
      </div>
      <div class="swiper-button-next swiper-button-next_products">
        <img
          src="./img/pages/btn_right.png"
          alt="arrow-right"
          class="swiper-button-next-img"
        />
      </div>
    </div>
    <div class="swiper swiper-products">
      <div class="swiper-wrapper swiper-wrapper-products">
        <div class="swiper-slide swiper-slide-products">
          <article class="products_article">
            <h3 class="products_article_title">Sandfilteranlagen:</h3>
            <img
              src="./img/products/slide1.jpg"
              alt="produscts-1"
              class="products-img"
            />
            <p class="products_article_text">
              Unsere Sandfilteranlagen bieten eine zuverlässige Lösung für die
              Filtration von Poolwasser. Sie arbeiten effizient und benötigen
              nur geringe Wartung. Ideal für mittlere und große Pools.
            </p>
            <p class="products_article_text">
              Vorteil: Langfristige Leistung und einfache Handhabung. Diese
              Filteranlage sorgt für eine herausragende Wasserqualität und
              minimiert den Wartungsaufwand.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-products">
          <article class="products_article">
            <h3 class="products_article_title">Kartuschenfilter:</h3>
            <img
              src="./img/products/slide2.jpg"
              alt="products-2"
              class="products-img"
            />
            <p class="products_article_text">
              Kartuschenfilter bieten eine kostengünstige Lösung für kleinere
              Pools und Teiche. Sie sind leicht zu installieren und zu warten
              und bieten eine zuverlässige Filtration.
            </p>
            <p class="products_article_text">
              Vorteil: Kosteneffizient und wartungsfreundlich. Besonders
              geeignet für kleinere Wasserflächen.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-products">
          <article class="products_article">
            <h3 class="products_article_title">Kartuschenfilter:</h3>
            <img
              src="./img/products/slide3.jpg"
              alt="products-3"
              class="products-img"
            />
            <p class="products_article_text">
              Unsere UV-C-Desinfektionssysteme reinigen das Wasser ohne den
              Einsatz von Chemikalien. Diese umweltfreundliche Lösung eliminiert
              Bakterien und Keime effektiv.
            </p>
            <p class="products_article_text">
              Vorteil: Sicher und umweltfreundlich – eine chemiefreie
              Wasserreinigungslösung, die Ihre Gesundheit schützt.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-products">
          <article class="products_article">
            <h3 class="products_article_title">UV-C-Desinfektionssysteme:</h3>
            <img
              src="./img/products/slide4.jpg"
              alt="products-4"
              class="products-img"
            />
            <p class="products_article_text">
              Unsere biologischen Filtersysteme nutzen natürliche Prozesse, um
              Teiche und natürliche Wasserflächen sauber zu halten. Diese
              Systeme sind ideal für Teiche, in denen eine nachhaltige
              Filtration erforderlich ist.
            </p>
            <p class="products_article_text">
              Vorteil: Ökologisch und nachhaltig. Ideal für die Filtration von
              Naturteichen und Gewässern, die ein gesundes Ökosystem erhalten
              müssen.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-products">
          <article class="products_article">
            <h3 class="products_article_title">
              Automatische Reinigungsroboter:
            </h3>
            <img
              src="./img/products/slide5.jpg"
              alt="products-5"
              class="products-img"
            />
            <p class="products_article_text">
              Unsere Reinigungsroboter übernehmen die mühsame Arbeit der Pool-
              und Teichreinigung. Sie sind zuverlässig, effizient und sparen
              Zeit und Aufwand.
            </p>
            <p class="products_article_text">
              Vorteil: Automatische Reinigung, die Zeit spart und die
              Wasserqualität verbessert.
            </p>
          </article>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination_products"></div>
  </div>
</section>
