<section class="reviews section" id="reviews">
  <div class="reviews_container container">
    <div class="reviews_title_inner">
      <div class="reviews_title-box">
        <h2 class="title-h2">Kundenmeinungen</h2>
        <p class="reviews_text">
          Eine einladende Überschrift, die den Block einführt und dem Besucher
          das Gefühl gibt, dass diese Meinungen authentisch und von echten
          Personen stammen.
        </p>
      </div>
      <div class="swiper-button-prev swiper-button-prev_reviews">
        <img
          src="./img/pages/btn_left.png"
          alt="arrow-left"
          class="swiper-button-prev-img"
        />
      </div>
      <div class="swiper-button-next swiper-button-next_reviews">
        <img
          src="./img/pages/btn_right.png"
          alt="arrow-right"
          class="swiper-button-next-img"
        />
      </div>
    </div>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper swiper-wrapper-reviews">
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="reviews_article_title">Martina S., München</h3>
            <blockquote class="reviews_article_text">
              Die Filteranlage von BestMainAbout hat unseren Pool in kürzester
              Zeit wieder auf Vordermann gebracht. Wir sind begeistert von der
              einfachen Installation und der hohen Effizienz des Systems.
              Seitdem ist unser Wasser immer kristallklar!
            </blockquote>
            <div><img src="./img/reviews/stars5.png" alt="stars 5" /></div>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="reviews_article_title">Thomas W., Köln</h3>
            <blockquote class="reviews_article_text">
              Der Service von BestMainAbout war hervorragend. Die Beratung war
              sehr professionell und das Team hat das Filtersystem schnell und
              zuverlässig installiert. Wir haben endlich sauberes Wasser in
              unserem Teich!
            </blockquote>
            <div><img src="./img/reviews/stars5.png" alt="stars 5" /></div>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="reviews_article_title">Sabine L., Frankfurt</h3>
            <blockquote class="reviews_article_text">
              Ich bin sehr zufrieden mit der Wartung meines Pools. Der jährliche
              Service läuft reibungslos und unser Poolwasser ist immer sauber
              und klar. Vielen Dank an das Team von BestMainAbout!
            </blockquote>
            <div><img src="./img/reviews/stars5.png" alt="stars 5" /></div>
          </article>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination_reviews"></div>
  </div>
</section>
