<section class="services section" id="services">
  <div class="services_container container">
    <div class="services_title_inner">
      <h2 class="title-h2">Dienstleistungen</h2>
      <div class="swiper-button-prev swiper-button-prev_services">
        <img
          src="./img/pages/btn_left.png"
          alt="arrow-left"
          class="swiper-button-prev-img"
        />
      </div>
      <div class="swiper-button-next swiper-button-next_services">
        <img
          src="./img/pages/btn_right.png"
          alt="arrow-right"
          class="swiper-button-next-img"
        />
      </div>
    </div>
    <div class="swiper swiper-services">
      <div class="swiper-wrapper swiper-wrapper-services">
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Installation vor Ort:</h3>
            <img
              src="./img/services/ico1.png"
              alt="service-1"
              class="services-img"
            />
            <p class="services_article_text">
              Unsere erfahrenen Techniker installieren Ihr Filtersystem direkt
              vor Ort. Wir stellen sicher, dass alles reibungslos funktioniert
              und Ihr System sofort einsatzbereit ist.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Wartung & Service:</h3>
            <img
              src="./img/services/ico2.png"
              alt="services-2"
              class="services-img"
            />
            <p class="services_article_text">
              Wir bieten regelmäßige Wartungsdienste, um die Leistung Ihrer
              Filter- und Reinigungssysteme langfristig zu gewährleisten. Unsere
              Techniker sorgen dafür, dass alles effizient läuft und Ihre
              Wasserqualität immer optimal bleibt.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Wasseranalyse & Beratung:</h3>
            <img
              src="./img/services/ico3.png"
              alt="services-3"
              class="services-img"
            />
            <p class="services_article_text">
              BestMainAbout bietet eine umfassende Wasseranalyse an, um die
              besten Filterlösungen für Ihre spezifischen Bedürfnisse zu
              ermitteln. Unsere Experten beraten Sie hinsichtlich der besten
              Technologie für Ihr System.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Austausch alter Systeme:</h3>
            <img
              src="./img/services/ico4.png"
              alt="services-4"
              class="services-img"
            />
            <p class="services_article_text">
              Wir bieten einen schnellen Austausch von veralteten oder
              ineffizienten Filtersystemen. Unsere Experten helfen Ihnen, die
              neueste Technologie zu installieren und die Leistung Ihrer Anlage
              zu maximieren.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">
              Individuelle Systemplanung für neue Projekte:
            </h3>
            <img
              src="./img/services/ico5.png"
              alt="services-5"
              class="services-img"
            />
            <p class="services_article_text">
              Für Neubauten oder Umgestaltungen bieten wir maßgeschneiderte
              Planung und Beratung. Wir entwerfen das ideale System, das perfekt
              auf Ihre Bedürfnisse abgestimmt ist.F
            </p>
          </article>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination_services"></div>
  </div>
</section>
