<section class="workflow section" id="workflow">
  <div class="workflow_container container">
    <div class="services_title_inner">
      <h2 class="title-h2">Prozessablauf</h2>
    </div>
    <div class="swiper swiper-workflow">
      <div class="swiper-wrapper swiper-wrapper-workswiper-workflow">
        <div class="swiper-slide swiper-slide-workswiper-workflow">
          <article class="workflow_inner_item">
            <div class="workflow_number">1</div>
            <h3 class="workflow_inner_title">
              Erstberatung & Bedarfsermittlung:
            </h3>
            <p class="workflow_inner_text">
              Zu Beginn bieten wir eine ausführliche Beratung, bei der wir Ihre
              Bedürfnisse und Anforderungen an die Wasserreinigung klären.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-workswiper-workflow">
          <article class="workflow_inner_item">
            <div class="workflow_number">2</div>
            <h3 class="workflow_inner_title">Vor-Ort-Analyse:</h3>
            <p class="workflow_inner_text">
              Unsere Techniker kommen zu Ihnen vor Ort, um eine detaillierte
              Analyse des Pools oder Teiches durchzuführen und die ideale Lösung
              für Ihr System zu finden.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-workswiper-workflow">
          <article class="workflow_inner_item">
            <div class="workflow_number">3</div>
            <h3 class="workflow_inner_title">Systemvorschlag & Angebot:</h3>
            <p class="workflow_inner_text">
              Auf Grundlage der Analyse erstellen wir ein maßgeschneidertes
              Angebot und einen detaillierten Plan für Ihr Filtersystem.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-workswiper-workflow">
          <article class="workflow_inner_item">
            <div class="workflow_number">4</div>
            <h3 class="workflow_inner_title">Installation:</h3>
            <p class="workflow_inner_text">
              Unsere Techniker installieren das System schnell und
              professionell. Wir kümmern uns um alles – von der Lieferung bis
              zur Inbetriebnahme.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-workswiper-workflow">
          <article class="workflow_inner_item">
            <div class="workflow_number">5</div>
            <h3 class="workflow_inner_title">Nachbetreuung & Wartung:</h3>
            <p class="workflow_inner_text">
              Nach der Installation bieten wir eine umfassende Nachbetreuung und
              regelmäßige Wartung, um sicherzustellen, dass Ihr System immer
              optimal funktioniert.
            </p>
          </article>
        </div>
      </div>
    </div>
    <div class="workflow_inner">
      <article class="workflow_inner_item">
        <div class="workflow_number">1</div>
        <h3 class="workflow_inner_title">Erstberatung & Bedarfsermittlung:</h3>
        <p class="workflow_inner_text">
          Zu Beginn bieten wir eine ausführliche Beratung, bei der wir Ihre
          Bedürfnisse und Anforderungen an die Wasserreinigung klären.
        </p>
      </article>
      <article class="workflow_inner_item">
        <div class="workflow_number">2</div>
        <h3 class="workflow_inner_title">Vor-Ort-Analyse:</h3>
        <p class="workflow_inner_text">
          Unsere Techniker kommen zu Ihnen vor Ort, um eine detaillierte Analyse
          des Pools oder Teiches durchzuführen und die ideale Lösung für Ihr
          System zu finden.
        </p>
      </article>
      <article class="workflow_inner_item">
        <div class="workflow_number">3</div>
        <h3 class="workflow_inner_title">Systemvorschlag & Angebot:</h3>
        <p class="workflow_inner_text">
          Auf Grundlage der Analyse erstellen wir ein maßgeschneidertes Angebot
          und einen detaillierten Plan für Ihr Filtersystem.
        </p>
      </article>
      <article class="workflow_inner_item">
        <div class="workflow_number">4</div>
        <h3 class="workflow_inner_title">Installation:</h3>
        <p class="workflow_inner_text">
          Unsere Techniker installieren das System schnell und professionell.
          Wir kümmern uns um alles – von der Lieferung bis zur Inbetriebnahme.
        </p>
      </article>
      <article class="workflow_inner_item">
        <div class="workflow_number">5</div>
        <h3 class="workflow_inner_title">Nachbetreuung & Wartung:</h3>
        <p class="workflow_inner_text">
          Nach der Installation bieten wir eine umfassende Nachbetreuung und
          regelmäßige Wartung, um sicherzustellen, dass Ihr System immer optimal
          funktioniert.
        </p>
      </article>
    </div>
    <div class="swiper-pagination swiper-pagination_workflow"></div>
  </div>
</section>
