.about {
  scroll-margin-top: 100px;
}
.about_container {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  @media screen and (min-width: 1440px) {
    padding: 0 72px;
  }
}
.about_inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 1440px) {
    gap: 56px;
    max-width: 632px;
    width: 100%;
  }
}
.about_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #000;
  @media screen and (min-width: 1440px) {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #000;
  }
}
.about_image {
  width: 100%;
  border-radius: 8px;
  @media screen and (min-width: 1440px) {
    position: absolute;
    width: 416px;
  }
}
.about_image:nth-child(2) {
  @media screen and (min-width: 1440px) {
    top: 0;
    right: 300px;
    z-index: 4;
  }
}
.about_image:nth-child(4) {
  @media screen and (min-width: 1440px) {
    top: 90px;
    right: 70px;
  }
}
