.cookies-section {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  width: 100%;
  background: #f3fcff;
}

.cookies-container {
  padding: 38px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  @media screen and (min-width: 1440px) {
    padding: 20px 34px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px !important;
  }
}

.cookies-text {
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-align: center;
  @media screen and (min-width: 1440px) {
    text-align: left;
    width: 745px;
    font-size: 22px;
  }
}

.cookies-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 24px;
  }
}

.cookies-button {
  width: 196px;
  height: 54px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 300ms ease;
}

.cookies-button:hover {
  opacity: 0.8;
}

.cookies-accept-js {
  border-radius: 40px;
  padding: 8px;
  background: #000;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fafafa;
}

.cookies-decline-js {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #000;
  border-radius: 40px;
  padding: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000;
}
