.footer {
  padding: 28px 39px 15px 39px;
  background: #000;
  @media screen and (min-width: 1440px) {
    padding: 44px 100px 11px 100px;
  }
}

.footer_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-bottom: 65px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 110px;
  }
}
.footer_list_item > a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  @media screen and (min-width: 1440px) {
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer_copyright {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}
