.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.02);
  color: white;
  height: 70px;
}
.header_page {
  color: black;
  backdrop-filter: blur(0);
  box-shadow: none;
}
.header.scroll {
  background-color: white;
  box-shadow: none;
  color: black;
}

.header_container {
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-nav-pc {
  display: none;
}

.header-nav-mobile-button {
  display: block;
}
.header-nav-mobile-button.active {
  display: none;
}
.header-nav-mobile-button > img {
  width: 100%;
}

.header-nav-mobile {
  position: fixed;
  top: 0;
  right: -1900px;
  pointer-events: none;
  opacity: 0;
  z-index: 999;
  width: 100vw;
  background: white;
  color: black;
  display: flex;
  justify-content: start;
  transition: right 300ms ease;
  padding: 40px;
}

.header-nav-mobile-button-close {
  width: 59px;
  height: 59px;
  transition: transform 300ms ease;
  display: none;
}
.header-nav-mobile-button-close.active {
  display: block;
}
.header-nav-mobile-button-close:hover,
.header-nav-mobile-button-close:focus,
.header-nav-mobile-button-close:active {
  transform: scale(1.05);
}

.header-nav-mobile.is-open {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 999;
  pointer-events: painted;
  opacity: 1;
}

.header-nav-mobile-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 185px;
  gap: 34px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}

.header-nav-mobile-item > a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.header-nav-mobile-item {
  transition: transform 300ms ease;
}

.header-nav-mobile-item:hover,
.header-nav-mobile-item:focus,
.header-nav-mobile-item:active {
  transform: scale(1.05);
}

@media (min-width: 1440px) {
  .header-nav-pc {
    display: block;
    width: 100%;
  }
  .logo {
    display: none;
  }
  .header-nav-mobile-button {
    display: none;
  }
  .header_container {
    padding: 32px 30px;
  }

  .header-nav-mobile {
    display: none;
  }

  .header-nav-pc-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
  }

  .header-nav-pc-item > a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
  }

  .header-nav-pc-item {
    transition: transform 300ms ease;
  }

  .header-nav-pc-item:hover,
  .header-nav-pc-item:focus,
  .header-nav-pc-item:active {
    transform: scale(1.05);
  }
}
