.hero {
  background-image: url('../img/Hero/background_mobile.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  @media (min-width: 1440px) {
    background-image: url('../img/Hero/background.jpg');
  }
}

.hero_container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: 100vh;
  @media (min-width: 1440px) {
    padding: 0 72px;
  }
}
.hero_content {
  margin: 121px 0 60px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 345px;
  width: 100%;
  @media (min-width: 1440px) {
    max-width: 746px;
    width: 100%;
    margin: 203px 0 239px 0;
    gap: 56px;
  }
}
.hero_title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 0 10px 0 #000;
  @media (min-width: 1440px) {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 72px;
    line-height: 1.11111;
  }
}
.hero_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  @media (min-width: 1440px) {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
  }
}
.hero_btn {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 36px;
  padding: 24px;
  width: 100%;
  background: #ff8c00;
  @media (min-width: 1440px) {
    width: auto;
    width: 308px;
    height: 72px;
  }
}
